*{
    margin: 0px;
    background-color: black;
}
section{
    text-align: center;
    padding: 50px;
}

figure{
    border:1px dashed white;
    margin: 100px;
}

img{
    margin: 100px;
    border-radius: 50%;
}
